body{
  font-family: 'Jaldi', sans-serif;
  margin: 100px;
}
.free-shipping-banner{
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #4d186e;
  color: white;
  font-size: 12px;
  position: fixed;
  top: 0;
}

.shoppingcart-nav{
  text-decoration: none;
  font-size: 15px;
  position: fixed;
  top: 35px;
  right: 30px;
}

.header{
  text-align: center;
}

.home{
  padding-left: 250px;
}

.nav-menu {
  color: white;
  background: linear-gradient(90deg, rgb(253, 250, 250) 0%, rgb(245,245,245) 110%);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  padding-right: 250px;
}

/* .navbar{
  display: flex;
  justify-content: space-around;
} */


/* .navbar ul{
  list-style: none;
  display: flex; 
  justify-content: space-evenly;
} */

.container{
  width: 60%;
  margin: 2rem auto;
}

.homepagePic{
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(8, 3fr);
  grid-template-rows: repeat(8, 7vw);
  grid-gap: 1.5rem;
}

.homepagePic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.homepagePicOne{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
.homepagePicTwo{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;

}

.homepagePicThree{
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 6;
}
.homepagePicFour{
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.homepagePicFive{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

}
.homepagePicSix{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

}



.footer{
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.help-button{
  background: rgb(105,105,105);
  border-radius: 95%;
  color: rgb(255,255,224);
  padding: 15px;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  left: 50px;
}

.help-button:hover{
    border: 8px solid rgb(211,211,211);
}


