
/* .product-type-title{
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    color:black;
    padding-left: 340px;
    padding-top: 10px;
    font-weight: bold;
    text-align: start;
} */

/* .skin-type-title{
    color: black;
    font-weight: bold;
} */
ul{
    list-style: none;
}

.dropdown-menu{
/*     display: flex; */
 /*    grid-template-columns: auto auto; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 89.5%;
    height: auto;
    background: white;
    left: 100px;
    position: absolute;
    list-style: none;
    text-align: start;
    padding: 1px;

}

.dropdown-menu li{
    cursor: pointer;
    text-decoration: none;
}

.dropdown-menu li:hover{
    font-style: italic;
    text-decoration: none;

}

.dropdown-menu.clicked{
    display: none;
    text-decoration: none;
}

.dropdown-link{
    display: block; 
    width: 100%; 
    height: 100%;
    color:black;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    margin-left: 5rem;
}

.grid-container{
    display: grid;
    height: 60%;
    grid-template-columns: repeat (3, auto);
    grid-template-rows: auto;
}

.grid-item-one{
    color: black;
    grid-column: 1 / 2;
    grid-row:  1 / 2;
}

.shop-by-products-title{
    font-weight: bold;
    display: block; 
    width: 100%; 
    height: 100%;
    padding: 10px;
    margin: 10px;
    margin-left: 5rem;
}

.grid-item-two{
    color: black;
    grid-column: 2 / 3;
    grid-row:  1 / 2;
}

.shop-by-skintype-title{
    font-weight: bold;
    display: block; 
    width: 100%; 
    height: 100%;
    padding: 10px;
    margin: 10px;
    margin-left: 5rem;
}

.shop-by-skintype-item{
    display: block; 
    width: 100%; 
    height: 100%;
    color:black;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    margin-left: 5rem;
}

.grid-item-three{
    color: black;
    font-weight: bold;
    grid-column: 3 / 4;
    grid-row:  1 / 2;
}

.grid-item-three p{
    margin-top: 10px;
    margin-left: 7rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.normal-skin-title{
    text-decoration: none;
    color: black;
}

.dry-skin-title{
    text-decoration: none;
    color: black;
}

.oily-skin-title{
    text-decoration: none;
    color: black;
}

.combination-skin-title{
    text-decoration: none;
    color: black;
}

.sensitive-skin-title{
    text-decoration: none;
    color: black;
}

