*{
    text-decoration: none;
}

h3{
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

img{
    width: 150px;
    height: auto;
}

span{
    font-size: 10px;
}

.first-hr{
    height: 1px;
    border-top: rgb(128, 77, 77);
}

.flex-container{
    display: flex;
}
.cart-item{
    width: 80%;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.one{
    display: flex;
    justify-content: space-between;
}
.one h4{
    padding-left: 50px;;
    padding-right: 50px;
}

.two{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.three{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.four{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.five{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.six{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.six button{
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5%;
}
.six button:hover{
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(87, 85, 85, 0.596);
    color: white;
}


.order-summary{
    width: 40%;
    padding-right: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight:300;
}

.empty-cart h3{
    margin: 5rem auto;
    text-align: center;
    line-height: 5%;
}

.shoppingCart-content{
    width: 90%;
    margin: 2rem auto;
}

.individual{
    display: grid;
    width: 90%;
    grid-template-columns: repeat (4, 1fr);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255,255,255, 0.08) 0px 0px 0px 1px;
}

.individual:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section-one{
    grid-column-start: 1;
    grid-column-end: 2;
}

.section-two{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
}

.section-three{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    margin: 4rem auto;
}

/* .quantity-box{
    width: auto;
    height: 15px;
    font-size: 15px;
} */

/* .section-four{
    grid-column: 4 / 5;
    text-align: center;
    margin: 3rem auto;
} */

.trashCan{
    font-size: 15px;
    color: black;
    border: none;
    height: 50px;
    background-color: white;
    transition: width 2s, height 2s, transform 2s;
}

.trashCan:hover{
    transform: rotate(360deg);
    cursor: pointer;
}
/* -------------------------------------------------------------------------random----------------------------------------------------------------- */
.random-container{
    margin: 4rem auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    width: 60%;
    justify-content: center;
}

.random-cleanser-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-cleanser-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.cleanser-brand{
    font-style: italic;
}

/* -----------------------------------------------------------------toner -----------------------------------------------------------*/
.random-toner-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-toner-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.toner-brand{
    font-style: italic;
}
/* -----------------------------------------------------------------eyecream -----------------------------------------------------------*/
.random-eyecream-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-eyecream-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.eyecream-brand{
    font-style: italic;
}

/* -----------------------------------------------------------------Serum -----------------------------------------------------------*/
.random-serum-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-serum-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.serum-brand{
    font-style: italic;
}

/* -----------------------------------------------------------------moisturizer -----------------------------------------------------------*/
.random-moisturizer-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-moisturizer-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.moisturizer-brand{
    font-style: italic;
}

/* -----------------------------------------------------------------faceoil -----------------------------------------------------------*/
.random-faceoil-item{
    color: black;
    justify-content: center;
    text-align: center;
    height: 380px;
    width: auto;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-faceoil-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: pointer;
}

.faceoil-brand{
    font-style: italic;
}

/* testttttttttttttttttttttttttttttttt */