h3{
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}

img{
    width: 150px;
    height: auto;
  }

.empty-cart h3{
    margin: 5rem auto;
    text-align: center;
    line-height: 5%;
}

.shoppingCart-content{
    width: 60%;
    margin: 2rem auto;
}

.individual{
    display: grid;
    grid-template-columns: repeat (3, 3fr);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255,255,255, 0.08) 0px 0px 0px 1px;
}

.individual:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section-one{
    grid-column-start: 1;
    grid-column-end: 2;
}

.section-two{
    grid-column-start: 2;
    grid-column-end: 3;
}

.section-three{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    margin: 3rem auto;
}

.trashCan{
    font-size: 20px;
    color: black;
    border: none;
    height: 50px;
    background-color: white;
    transition: width 2s, height 2s, transform 2s;
}

.trashCan:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

.random-container{
    margin: 4rem auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 60px;
    width: 70%;
    justify-content: center;
}

.random-cleanser-item{
    justify-content: center;
    text-align: center;
    height: auto;
    width: 280px;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-cleanser-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: crosshair;
}

.cleanser-brand{
    font-style: italic;
}

/* -----------------------------------------------------------------toner -----------------------------------------------------------*/
.random-toner-item{
    justify-content: center;
    text-align: center;
    height: auto;
    width: 280px;
    box-shadow: rgba(211,211,211, 1.0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

.random-toner-item:hover{
    box-shadow: rgba(145, 246, 216, 0.9) 0px 20px 30px -10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/*     box-shadow: 0 4px 8px 0 rgb(204, 204, 255), 0 6px 20px 0 rgb(255, 255, 204); */
    cursor: crosshair;
}

.toner-brand{
    font-style: italic;
}

